aside.logo {
    background-color: rgb(14, 18, 44);
    display: flex;
    justify-content: center;
    align-content: center;
}

aside.logo img {
    width: 225px;
    height: 100%;

}

@media(max-width: 576px) {
    aside.logo.img {
        width: 350px;

    }
}